@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
:root {
  --font-xxs: 12px;
  --font-xs: 13px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-md-2: 18px;
  --font-md-3: 20px;
  --font-lg: 28px;
  --font-xl: 30px;
  --font-xxl: 70px;
  --font-family-primary: "Lato", sans-serif;
  --font-fmaily-secondary: "Lora", serif;
  --primary-color: #2d2640;
  --secondary-color: #837d87;
  --blue-light: #96a9c6;
  --white: #ffffff;
  --black: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-md);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

input {
  cursor: text;
  margin: 0em;
  padding: 1px 24px;
  border: none;
  writing-mode: horizontal-tb !important;
  text-indent: 0px;
  text-align: start;
  background-color: field;
  appearance: auto;
  -webkit-rtl-ordering: logical;
}
input:focus-visible {
  outline: none;
}

.container {
  /* position: relative; */
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row > [class*="col-"] {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.67%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.67%;
}
.col-12 {
  width: 100%;
}

/* ---- */
.btn {
  display: inline-block;
  padding: 10px 27px;
  border: 2px solid;
  font-size: var(--font-xs);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in 0.1s;
}

.btn-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}
.btn-secondary {
  border-color: var(--white);
  background-color: var(--primary-color);
  color: var(--white);
}
.btn-secondary:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--primary-color);
}
/* -----------Header---------- */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navigations .navigations-list {
  display: flex;
  align-items: center;
  gap: 0 25px;
  font-size: var(--font-xxs);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.navigation-item:hover {
  color: var(--primary-color);
}

/* ---------Banner--------- */
.section-banner {
  background-color: var(--primary-color);
  color: var(--white);
}

.banner-inner {
  position: relative;
  display: flex;
  padding: 120px 0;
}

.banner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  width: 270px;
  margin-bottom: 80px;
  border: 1px solid;
}

.banner-title {
  font-size: var(--font-xxl);
  font-family: var(--font-fmaily-secondary);
  letter-spacing: -3px;
}

.banner-inner > div {
  flex: 1;
}
.banner-description {
  margin: 25px 0;
  line-height: 20px;
}
.banner-img img:first-child {
  position: absolute;
  right: 0;
}
.banner-img img:nth-child(2) {
  position: absolute;
  right: -98px;
  top: 0;
}
.banner-img img:last-child {
  position: absolute;
  left: -100px;
  bottom: -225px;
  width: 150px;
}
/* ------Signature-------- */
.section-signatures {
  margin: 150px 0;
}
.signature-inner {
  display: flex;
  flex-direction: column;
}

.signatures-header .line {
  width: 150px;
  margin-bottom: 50px;
  background-color: var(--primary-color);
}

.signatures-title {
  font-family: var(--font-fmaily-secondary);
  font-size: var(--font-xxl);
  letter-spacing: -3px;
}

.signatures-body {
  margin-top: 60px;
  padding: 0px 20px;
}

.signature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: var(--font-lg);
  background-color: var(--blue-light);
  color: var(--white);
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: var(--font-xl);
  font-family: var(--font-fmaily-secondary);
  letter-spacing: -2px;
}

.item-description {
  font-weight: 400;
  color: var(--secondary-color);
}

/* ------About Us------ */
.section-about-us {
  padding: 0px 145px;
  margin-bottom: 150px;
}
.about-us-content {
  align-items: center;
  padding: 40px 50px;
  background-color: var(--primary-color);
}

.content-inner {
  align-items: center;
}

.about-us-text {
  font-family: var(--font-fmaily-secondary);
  font-size: 50px;
  line-height: 50px;
  color: var(--white);
}

.btn-link-aboutus {
  float: right;
}

/* ----Footer---- */
.section-footer {
  padding: 0 145px;
  margin-bottom: 100px;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.footer-inner .line {
  width: 100%;
  margin: 40px 0;
  border: revert;
  color: var(--secondary-color);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  font-size: var(--font-lg);
}
.social-list {
  display: flex;
  gap: 0 30px;
}

.social-link {
  font-size: 28px;
  color: var(--secondary-color);
}
.social-link:hover {
  color: var(--primary-color);
}

.footer-sub-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
  letter-spacing: 1px;
}

.footer-sub-list .sub-item:hover {
  color: var(--secondary-color);
}

.footer-sub-list .sub-item:first-child {
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.sub-item {
  font-weight: 900;
  font-size: 14px;
}
