@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --font-xxs: 12px;
  --font-xs: 13px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-md-2: 18px;
  --font-md-3: 20px;
  --font-lg: 24px;
  --font-xl: 30px;
  --font-xxl: 72px;
  --font-family-primary: "Poppins", sans-serif;
  --primary-color: #fbb03b;
  --secondary-color: #ff0000;
  --gray: #a8a8a8;
  --gray-light: #f6f6f6;
  --white: #ffffff;
  --black: #333333;
  --red: #ff0000;
  --organe-milk: #fff3df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-size: var(--font-md);
  font-family: var(--font-family-primary);
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

input {
  margin: 0em;
  padding: 1px 24px;
  border: none;
  background-color: field;
  text-indent: 0px;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  writing-mode: horizontal-tb !important;
}
input:focus-visible {
  outline: none;
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row > [class*="col-"] {
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.67%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.67%;
}
.col-12 {
  width: 100%;
}

/* ---- */
.btn {
  display: inline-block;
  padding: 14px;
  border: none;
  border-radius: 33px;
  font-size: var(--font-xs);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in 0.1s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--black);
}

.btn-primary:hover {
  background-color: var(--white);
  color: var(--black);
}

.btn-secondary {
  background-color: var(--white);
  color: var(--black);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.badge {
  width: 60px;
  padding: 6px 0;
  border-radius: 20px;
  text-align: center;
}
.badge-primary {
  background-color: var(--red);
  color: white;
}

/* ---------- */
.overlay {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.title {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  line-height: 48px;
}
/* --Header-- */
.section-header {
  position: relative;
}
.header-inner {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 48px 0;
}
.brand {
  display: flex;
  gap: 0 21.8px;
}
.image-logo {
  width: 41.2px;
}

.image-brand {
  width: 76px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.sub-menu-list {
  font-size: 18px;
  font-weight: 700;
  gap: 0 96px;
  line-height: 27px;
}
.sub-menu-link {
  color: var(--primary-color);
}

.sub-menu-link:hover {
  color: var(--white);
}

.action-list {
  gap: 0 24px;
}

.action-link {
  color: var(--white);
}

.action-link:hover {
  color: var(--primary-color);
}
/* Main */

/* Banner */
.section-banner {
  height: 800px;
  background-image: url(./images/main-banner.png);
}
.banner {
  height: 800px;
}
.banner-content {
  position: absolute;
  top: 220px;
  left: 240px;
  color: var(--white);
}
.banner-title {
  font-weight: 700;
  font-size: var(--font-xxl);
  line-height: 101.5%;
}
.banner-title span {
  color: var(--primary-color);
}

.banner-action {
  display: flex;
  margin-top: 24px;
  gap: 0 21px;
}
.action-img {
  display: flex;
  width: 36px;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--primary-color);
}
.action-click {
  text-decoration: underline;
  font-size: var(--font-lg);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}
.action-click:hover {
  color: var(--primary-color);
}
/* Policy */
.banner-policy {
  position: absolute;
  bottom: -175px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 1100px;
  padding: 38px 88px 24px 194.5px;
  gap: 0 48px;
  border-radius: 0 70px 0 0;
  background-color: var(--white);
}
.policy-item {
  display: flex;
  gap: 0 21px;
}
.banner-policy-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--organe-milk);
}
.banner-policy-title {
  font-size: 14px;
  font-weight: 700;
}
.banner-policy-description {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray);
}

/* --Blogs-- */
.section-blogs {
  margin-top: 48px;
  margin-bottom: 96px;
}

.blog-item-1 {
  position: relative;
  width: 566px;
  height: 359px;
  background-image: url("./images/blog-image1.png");
}

.blog-item-2 {
  position: relative;
  width: 273px;
  height: 359px;
  background-image: url("./images/blog-image2.png");
}

.blog-item-3 {
  position: relative;
  width: 273px;
  height: 359px;
  background-image: url("./images/blog-image3.png");
}

.blog-content {
  position: absolute;
  bottom: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 140px;
  padding: 0 40px;
}
.blog-overlay {
  position: absolute;
  width: 100%;
  height: 359px;
  background: #333333;
  opacity: 0.5;
}

.blog-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
}

.badge-blog {
  position: absolute;
  top: 120px;
  left: 40px;
}
/* --product-- */
.section-products {
  display: flex;
  margin-bottom: 48px;
}

.product-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}

.header-link{
  justify-content: space-between;
}

.btn-show {
  border: 1px solid #c4c4c4;
}

.product-img {
  position: relative;
}

.product-img .badge {
  position: absolute;
  top: 24px;
  left: 18px;
}
.product-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.product-name {
  font-size: 16px;
  font-weight: 300;
}

.product-price {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
}

.price-original {
  color: var(--gray);
}

.sale {
  color: var(--red);
}

/* Section policy */
.section-policy {
  background-color: var(--gray-light);
  padding: 48px 0;
  margin-bottom: 48px;
}
.section-policy .policy-item {
  flex-direction: column;
  gap: 46px 0;
}

.policy-header {
  margin-bottom: 50px;
}

.policy-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68.79px;
  height: 68px;
  border-radius: 10px;
  background-color: var(--white);
}

.policy-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 16px;
}

.policy-item:nth-child(2) .policy-title {
  color: var(--primary-color);
}

.policy-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

/* --Form-- */
.section-banner-form {
  display: flex;
  align-items: center;
  height: 241px;
  background: url(./images/banner-footer.png);
}
.section-banner-form .overlay {
  position: absolute;
  height: 241px;
  background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
  opacity: 0.7;
}

.form-subscribe {
  position: relative;
}

.form-subscribe .row {
  align-items: center;
}

.form-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
}
.form-content {
  display: flex;
  justify-content: space-between;
}

.input-content {
  width: 351px;
  border-radius: 61px;
}

.btn-subscribe {
  width: 175px;
  border-radius: 56px;
}

/* --Footer-- */
.section-footer {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--primary-color);
}
.footer {
  padding-top: 40px;
  padding-bottom: 51px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-description {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  align-items: flex-start;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0 22px;
}
.link-content {
  width: 373px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  gap: 0 100px;
}
.social-list {
  display: flex;
  gap: 0 33px;
}
.social-list i {
  font-size: 20px;
  color: var(--white);
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 19px 0;
}
.item-title {
  font-size: 16px;
  font-weight: 700;
}

.footer-bottom {
  border-top: 2px solid var(--white);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

.copyright {
  padding: 24px 0;
}
